* {
    margin: 0px;
    padding: 0px;
}

#contanier {
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-image: url(espaco.jpg);
}

#conteudo {
    height: 100vh;
    background-image: url(astronauta.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;
}