@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
}

body {
    background-image: linear-gradient(to left, #E39372, #F6C5A7);  
}

main {
    background-color: white;
    border-radius: 11px;
    box-shadow: 4px 4px 20px #8004009f;
    width: 650px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #8B2219;
    text-shadow: 1px 1px 1px #5e1711d5;
}

h2 {
    color: #be643e;
}

p {
    text-align: justify;
}